// Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering

// Only admins can approve codeowner changes
/docs/CODEOWNERS @morphware/engineering-admin

// Default for all files
* @morphware/engineering-backend

// Anyonce can approve docs
/docs/ @morphware/engineering

// UX team for the frontend
/frontend @morphware/engineering-ux

// Backend for the backend
/backend @morphware/engineering-backend
